/* Global Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}
/*.container{
	width: 85%;
	margin:0 auto;
}*/

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
	display:flex;
}

/*Header Styles */
header{
	background-color: black;
}
header h1{
	color:white;
	font-size: 2rem;
	margin-left: 1rem;
}
header div{
	align-items: center;
	padding:2rem;
}
/* main-banner styles */
.main-banner{
	background-image: url(../images/moto.jpeg);
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	/*height:50rem;*/
	height:25rem;
}
/*.main-banner-content{
	background-color:black;
	width:20rem;
	padding: 2rem 3rem;
	position:relative;
	top:25rem;
	left:-25rem;
}
*/
.main-banner-content{
  position: relative;
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
}
/*.main-banner-content h4, .main-banner-content h2{
	color:white;
	padding:1rem;
}
.main-banner-content h2{
	font-size: 2rem;
}*/

.main-banner-content h2 {
  margin: 0.25rem 0;
  font-size: 2rem;
  line-height: 1.2;
}


@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }

  .headline {
    width: 100%;
    padding: 1rem 2rem;
    top: 10rem;
  }

  .headline h4 {
    font-size: .77rem;
  }

  .headline h2 {
    font-size: 1rem;
  }
}

/* Main Nav Styles */
.main-nav{
	background-color: #B00024;
}
.main-nav div{
	justify-content: flex-start;
}
.main-nav ul{
	height:3rem;
	align-items: center;
	justify-content: space-between;
}
.main-nav ul li a{
	text-decoration: none;
	color:white;
}
.mobile-nav ul{
	display:none;
}
/* product-section styles */
.product-section{
	justify-content: space-between;
	margin-top:3rem;
}
.product{
	border:4px solid black;
	flex-direction: column;
	width:30%;
}
.product img{
	max-width:14rem;
	padding:4rem;
}
.product span{
	text-align: center;
	color:white;
	background-color:black;
	padding:1rem;
}
/*.business-info section */
/*.business-info{
	margin-top:3rem;
	margin-bottom:4rem;
}*/


.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

/*.business-info div{
	justify-content: space-between;
}*/


.info{
	width: 35%;
	/*flex-direction: column;*/
}
/*.title{
	background-color:black;
	color:white;
	padding: 1rem 0rem 1rem 2rem;
}*/

.info .title {
  display: block;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}

/* Footer Styles */
footer{
	background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
  color: white;
}

footer div {
	height:5rem;
	align-items: center;
}

footer p{
	color:white;
}

/* Media Queries */
@media only screen and (max-width:1024px){
	.product{
		width:47%;
	}
	.glasses{
		display:none;
	}
	.desktop-nav ul{
		display:none;
	}
	.mobile-nav ul{
		display:flex;
		justify-content: center;
	}
	.info{
		width:35%;
	}
}

@media only screen and (max-width:470px){

/*	.main-banner {
    height: 15rem;
  }


	h4{
		font-family:Helvetica;
		font-size:0.77rem;
		font-weight:bold;
		padding-top: 1rem;
	}
	h2{
		font-family:Helvetica;
		font-size:1rem;
		font-weight:bold;
		padding-left: 2rem;
	}*/
	.watch{
		display:none;
	}
	.product{
		width:90%;
	}
	.info{
		width:90%;
	}
	footer div p{
		margin:0 auto;
	}
	.business-info{
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;

	}
}
